<div class="my-3">
<h2 class="my-0"><a class="undecorated" href="{{.Permalink}}">{{.Title}}</a></h2>
{{partial "author.html" .}}
</div>

{{.Summary}}

{{if .Truncated}}
<a href="{{.Permalink}}" class="btn btn-primary">
    Read full post
</a>
{{end}}