.undecorated {
    color: black;
}

.highlight {
    color: #006ac3;
}

.MathJax_Display {
    /*left aligned by js config*/
    padding: 0 1em;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #006ac3 !important;
}

.btn-primary:hover {
    background-color: #0063b7 !important;
}

.card-deck > .card {
    min-width: 15rem;
    max-width: 20rem;
}

figure > figcaption {
    text-align: center;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}
