<div class="card">
    <div class="card-header border-0 py-3 d-flex align-items-center">
        <img class="rounded-circle align-self-start mr-3 img-fluid"
            style="width: 5rem;"
            {{if fileExists (printf "/static/avatars/%s.jpg" .nickname)}}
            src="/avatars/{{.nickname}}.jpg"
            {{else}}
                {{if fileExists (printf "/static/avatars/%s.png" .nickname)}}
                    src="/avatars/{{.nickname}}.png"
                {{else}}
                    src="/avatars/blank_avatar.jpg"
                {{end}}
            {{end}}
            alt="{{.nickname}}'s avatar">
        <div>
            <h2 class="card-title">{{.nickname}}</h4>
            <h6 class="card-subtitle text-muted">{{.full_name}}</h6>
        </div>
    </div>
    {{with .Summary}}
    <div class="card-body">
        {{.}}
    </div>
    {{end}}
    {{with .links}}
    <div class="card-body">
    {{range .}}
        {{range $key, $value := .}}
            <a href="{{$value}}" class="card-link">{{$key}}</a>
        {{end}}
    {{end}}
    </div>
    {{end}}
</div>
