<div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Important links:</h5>
            {{range $.Site.Params.sidebar.links}}
            {{range $text, $link := .}}
            <a href="{{$link}}" class="btn btn-primary m-1" rel="nofollow noopener" target="_blank" title="{{$text}}">
                {{$text}}
            </a>
            {{end}}
            {{end}}
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Donations:</h5>
            <p>/upb/hack e.V.<br />
                IBAN: DE91472601218328783500<br />
                BIC: DGPBDE3MXXX</p>
            <p>Wir sind ein eingetragener, gemeinnütziger Verein. Für eine Spendenquittung wenden Sie sich bitte an: <a
                    href="mailto:spenden@upbhack.de">spenden@upbhack.de</a></p>
            <p>Unsere digitale Spendenquittung können Sie mit dem folgenden Zertifikat verifizieren: <a
                    href="/donation-certificate-upbhack.pem">Zertifikat</a></p>
        </div>
    </div>
</div>